{% extends "frame.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-5">
            <h1>工程一覧</h1>
        </div>
        <div class="col-7 d-flex align-items-end justify-content-end">
            <button type="button" class="btn btn-info w-20 me-5 px-3"><i class="fa-solid fa-plus"></i>New</button>
            <!-- <button>はここまでボタンってこと その内部のi classはアイコン（ゴミ箱アイコンとか）の仕様 -->
            <button type="button" class="btn btn-info w-20 me-5 px-3"><i class="fa-solid fa-pen-to-square"></i>Edit</button>
            <button type="button" class="btn btn-info w-20 me-5 px-3"><i class="fa-solid fa-trash"></i>Trash</button>
        </div>
    </div>
    <!-- tasks.htmlをflaskでいれる -->
    {% block article %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>



{% endblock %}