<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Stopwatch</title>
 <!-- <link rel='stylesheet' type='text/css' href='styles.css'> -->
</head>

<body>
  <h1>プロジェクト一覧</h1>
  <button type="button" name="edit" value="value">編集</button>
  <button type="button" name="delete" value="value">消去</button>
  <button type="button" name="create" value="value">新規作成</button>
  <table border="1">
    <tr>
      <tr bgcolor="#005588"> 
      <th> </th>   
      <th><font color=white>プロジェクト</font></th>
      <th><font color=white>予測時間</font></th>
      <th><font color=white>経過時間</font></th>
    </tr>
    <tr>
      <td><label><input type="radio" id="d10-2" name="d10-1"></label></td>
      <td>プロジェクトA</td>
      <td>27:00</td>
      <td>24:50</td>
    </tr>
    <tr>
        <td><label><input type="radio" id="d10-2" name="d10-1"></label></td>
      <td>プロジェクトB</td>
      <td>12:45</td>
      <td>11:50</td>
    </tr>
  </table>
</body>
</html>