{% extends "menu.html" %}
{% block content %}
<blockquote>
<h3>タスク一覧</h3>
</blockquote>
<table>
<tr>
<th>task_id</th>
<th>task_name</th>
<th>estimated_time</th>
<th>passed_time</th>
<th>deadline</th>
<th>status_name</th>
</tr>
{% for task in tasks %}
        <tr>
        <td>{{ task.task_id}}</td>
        <td>{{ task.task_name}}</td>
        <td>{{ task.estimated_time}}</td>
        <td>{{ task.passed_time}}</td>
        <td>{{ task.deadline}}</td>
        <td>{{ task.status_name}}</td>
        </tr>
{% endfor %}
</table>
<blockquote>
<h3>ステータスプルダウン一覧</h3>
</blockquote>
<table>
<tr>
<th>status_name</th>
</tr>
{% for status_name in status_names %}
        <tr>
        <td>{{ status_name.status_name}}</td>
        </tr>
{% endfor %}
</table>
<blockquote>
<h3>優先度プルダウン一覧</h3>
</blockquote>
<table>
<tr>
<th>priority_name</th>
</tr>
{% for priority in priorities %}
        <tr>
        <td>{{ priority.priority_name}}</td>
        </tr>
{% endfor %}
</table>
{% endblock %}